.project-box {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project-box:hover .overlay {
    visibility: visible;
}

.project-box .main {
    background: var(--primaryColor);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.project-box .main .description {
    font-size: 1.1rem;
    text-align: center;
}

.project-box .main img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.project-box .overlay {
    visibility: hidden;
    display: grid;
    grid-template-rows: 0.5fr max-content 0.5fr;
    background: var(--primaryColor);
    border-radius: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    align-content: center;
    text-align: center;
    flex-direction: column;

    /* disable double tap on mobile device */
    transition:visibility 0.2s linear,opacity 0.2s linear;

}

.overlay .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.overlay .technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
}

.technologies span.name {
    background-color: var(--secondaryColor);
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}