#intro {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
}

.app {
  display: flex;
  flex-direction: row;
  width: 16rem;
  height: 100%;
}

.app-header {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
}

.header-title {
  padding: 1rem;
  font-size: 2rem;
}

.sidebar-item {
  font-size: 1.5rem;
  padding: 0.5rem;
}

a.sidebar-item {
  border-radius: 0.5rem;
}

a:hover.sidebar-item {
  background-color: var(--primaryColor);
  border-radius: 0.5rem;
}

.contact .icon {
  padding: 0.5rem;
}

.sidebar-item.contact {
  display: flex;
  align-items: center;
}

.page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.page-section {
  font-size: 1.6rem;
}

.projects-section {
  flex-direction: row;
  font-size: 1.6rem;
  column-gap: 2rem;
}

.projects-section .project-box {
  break-inside: avoid;
  display: inline-block;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.copy-to-clipboard {
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.flex-spacing {
  display: none;
  flex-grow: 1;
}

.blog-container {
  margin:1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: var(--primaryColor);
  border-radius: 1rem;
}


.blog-container img {
  max-width: 100%;
  max-height: 100%;
}

.blog-container table {
  /* not ideal since we want to be flexible and not always divided equally */
  table-layout: fixed;
  width: 100%;
}

.blog-container hr {
  width: 100%;
  color: inherit;
}

.blog-container blockquote {
  border-color: white;
  border-left-width: 0.5rem;
  border-left-style: solid;
  padding-left: 1rem;
  background-color: var(--secondaryColor);
}

.blog-container a {
  color: yellow;
}

@media screen and (max-width: 600px) {
  #contacts {
    order: 1;
  }

  .menu {
    order: 3;
    text-align: center;
    display: none;
  }

  .app-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--primaryColor);
    border-radius: 0.5rem;
  }

  input[type=checkbox]:checked~.menu {
    display: flex;
  }

  .hamburger {
    display: block;
    padding: 1rem;
    order: 2;
  }

  .flex-spacing {
    display: flex;
  }

  .menu a {
    background-color: var(--primaryColor);
  }
  
  .blog-container {
    margin: 0;
    padding: 1rem;
    background-color: unset;
  }
}

@media screen and (min-width: 600px) {
  .projects-section {
    column-count: 1;
  }

  #intro {
    padding: 1rem;
  }
}

@media screen and (min-width:768px) {
  .projects-section {
    column-count: 1;
  }
}

@media only screen and (min-width: 992px) {
  .projects-section {
    column-count: 2;
  }

  #intro {
    padding: 3rem;
  }
}


@media only screen and (min-width: 1200px) {
  .projects-section {
    column-count: 3;
  }

  #intro {
    padding: 7rem;
  }
}