body {
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  --primaryColor:#29044e;
  --secondaryColor:#130027;
  height: 100%;
  background: var(--secondaryColor);
  color: #FFFFFF;
  font-family: 'Noto Sans Mono', monospace;
}

#root {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}


@media screen and (max-width:600px) {
  #root {
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  color: #FFFFFF
}

button {
  background-color: #FFFFFF;
  color: var(--secondaryColor);
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

button:hover {
  background-color: #f5eefd;
  cursor: pointer;
}

.overlay {
  position: absolute;
  opacity: 95%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
  
h1 {
  font-weight: normal;
}
